<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dream.dao.AppMapper">
	<select id="queryAllAppList" parameterType="int"
		resultType="org.dream.bean.AppBean">
		SELECT a.*,b.userName,b.name as devName FROM
		t_app a inner
		join t_user b on a.userId=b.userId;
	</select>
</mapper>  