<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dream.dao.UserMapper">
	<select id="queryByUserId" parameterType="int"
		resultType="org.dream.bean.UserBean">
		SELECT * FROM t_user WHERE userId=#{userId};
	</select>
	<insert id="save" parameterType="org.dream.bean.UserBean"
		flushCache="true" useGeneratedKeys="true">
		<selectKey resultType="int" keyProperty="userId" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO t_user (userId,userName,pwd) VALUES
		(#{userId},#{userName},#{pwd})
	</insert>
</mapper>  